.product-card
{
  width: 100%;
  max-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
}

.card-image
{
  width: 100%;
}

.card-info{
  padding: 20px;
  border-top: 1px solid #ddd;
}

.card-price
{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

.card-title
{
  text-align: center;
}

.card-description
{
  text-align: center;
  color: #bebebe;
  font-size: 1em;
}
.button-addcart{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.button-addcart {
  margin-top: 5px;
  padding: 1.3em 1em;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: green;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding-top: 15px;
}

.button-addcart:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-addcart:active {
  transform: translateY(-1px);
}